<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <clear/>
    <add name="proc" connectionString="Data Source=sera15016;Initial Catalog=EProcurement;User ID=eprocuser;Password=eproc15016;Connection Timeout=56000000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="pathParsing" value="\\sera03018\DEALERCONNECTOR\sap\PURCHASEORDER\"/>
    <add key="Username" value="W7aMBPMHnpYhNmzY5yU9rg=="/>
    <add key="Password" value="hW0DRI2O4X8VhWCw2nGZEGyKzB8M1+WSbP+TPRQAoZo="/>
    <add key="domain" value="2vo7QrBBk1n+p5JYFzjk0A=="/>
    
    <add key="XMLFolderSIS" value="E:\PROCXML\log" />
    <add key="LogErrorFolder" value="E:\PROCXML\log\" />
    <add key="DestinationBackup" value="\\sera03018\DEALERCONNECTOR\archive\apps\PURCHASEORDER\"/>
   
    <add key="applogger" value="on"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>